.saveToTripMenu {
  width: 22vw;
  height: 45vh;
  margin: 5vh 1vw;
  background: rgba($color: whitesmoke, $alpha: .85);
  text-align: center;
  color: #0b2b13;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  border-radius: 10px;

  h2 {
    font-size: 1.2rem;
  }

  button {
    width: 8vw;
    color: #0b2b13;
    border-color: #0b2b13;
  }

  .tripOptions {
    height: 72%;
    width: 96%;
    margin: 5% 2%;
    overflow: scroll;
  }
}

.tripOptionTiles {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  align-items: center;
  margin-bottom: 2%;

  button {
    width: 25%;
  }
}