.loginForm {
  height: 30vh;
  width: 40vw;
  background: rgba($color:#00871D, $alpha: .85);
  margin: 31vh 30vw; 
  border-radius: 5px;

  h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1vh;
    color: whitesmoke;
  }

  button {
    width: 35vw;
    margin: 2vh 2.5vw;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 2vh;
    color: whitesmoke;
  }
}