.publicPins {
  width: 96vw;
  height: 85vh;
  // background: rgba($color:green, $alpha: .7);
  margin: 2vh 2vw;
  overflow: hidden;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
    text-align: center;
    color: #0b2b13;
  }
  .pinboardPseudoNav {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    margin: 0 1vw 1vh 1vw;
    position: sticky;

    button {
      width: 8vw;
      color: #0b2b13;
      border-color: #0b2b13;
    }

    input {
      width: 84vw;
      border-color: #0b2b13;
    }

    input::placeholder {
      color: #0b2b13;
    }
  }

  .publicPinBoard {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
}