.planATrip {
  height: 30vh;
  width: 40vw;
  background: rgba($color:darkgreen, $alpha: .85);
  margin: 31vh 30vw; 
  border-radius: 5px;
  color: whitesmoke;

  h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1vh;
  }

  button {
    width: 35vw;
    margin: 3vh 2.5vw 0vh 2.5vw;
  }
}