.tripPage {
  color: #121212;
  height: 91vh;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1%;
  }
  
  .tripPseudoNav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 1% 30%;
  }

  button {
    color: #0b2b13;
    border-color: #0b2b13;
  }

  .dashboardHero {
    display: flex;
    justify-content: space-between;
    height: 78vh;
    width: 96vw;
    margin: 0 2vw;
  }
}

.listsHero {
  @extend .dashboardHero;
  border: 1px red solid;
}